/* Adjusts the size of the carousel container */
#bannerCarousel {
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the carousel horizontally */
}

/* Adjusts the size of the carousel images */
#bannerCarousel .carousel-inner {
    max-height: 125px; /* Adjust the maximum height as needed */
}

#bannerCarousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and fill the container */
}
